<server description="WebSphere Application Server Liberty server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>javaee-8.0</feature>
        <!-- Add any additional features you need here -->
        <feature>restConnector-2.0</feature>
        <!-- <feature>ssl-1.0</feature> -->
        <feature>transportSecurity-1.0</feature>
        <feature>appSecurity-2.0</feature>

    </featureManager>

<!--
    <jmx-remote-connector/>
    <restConnector id="jmxRestConnector">
        <httpsListener securityEnabled="false" port="8888"/>
    </restConnector> -->


    <quickStartSecurity userName="bob" userPassword="bobpassword" />

    <!-- HTTP endpoint -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>



<!--
    <ssl id="defaultSSLConfig" keyStoreRef="myKeyStore" sslProtocol="TLSv1.2"/>
    <keyStore id="myKeyStore" location="/var/tmp/mykeystore.jks" password="changeit" type="JKS"/> -->




    <webApplication contextRoot="hello-world" location="hello-world.war" />


    <!-- Application locations -->
    <applicationManager autoExpand="true"/>

    <!-- JMX configuration for remote monitoring (optional) -->
    <!-- <jvmEntries>
        <jvmOptions>-Dcom.sun.management.jmxremote</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.port=1099</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.authenticate=false</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.ssl=false</jvmOptions>
    </jvmEntries>

    <jvmEntries>
        <jvmOptions>-XX:+FlightRecorder</jvmOptions>
        <jvmOptions>-XX:+UnlockCommercialFeatures</jvmOptions>

         <jvmOptions>-Dcom.sun.management.jmxremote</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.authenticate=false</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.ssl=false</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.local.only=false</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.port=5000</jvmOptions>
        <jvmOptions>-Dcom.sun.management.jmxremote.rmi.port=5000</jvmOptions>
        <jvmOptions>-Djava.rmi.server.hostname=$HOST_HOSTNAME</jvmOptions>
    </jvmEntries> -->

    <jvmEntries>
        <jvmOptions>-Djava.rmi.server.hostname=192.168.122.1</jvmOptions>
    </jvmEntries>

    <!-- Optional datasource configuration -->
    <!--
    <dataSource jndiName="jdbc/myDataSource" transactional="true">
        <jdbcDriver libraryRef="myLibrary"/>
        <properties.db2.jcc databaseName="mydb" serverName="localhost" portNumber="50000"/>
    </dataSource>
    -->

    <!-- Optional resource adapter configuration -->
    <!--
    <resourceAdapter id="myResourceAdapter" location="myResourceAdapter.rar">
        <properties.myProperty>myValue</properties.myProperty>
    </resourceAdapter>
    -->

    <!-- Optional SSL configuration -->
    <!--
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore"/>
    <keyStore id="defaultKeyStore" location="defaultKey.p12" type="PKCS12" password="mypassword"/>
    -->

    <!-- Optional security configuration -->
    <!--
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="user" password="password"/>
    </basicRegistry>
    -->

    <!-- Include custom configuration files if needed -->
    <!--
    <include location="path/to/customConfig.xml"/>
    -->

</server>